<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<web-app id="WebApp_ID"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_4_0.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_4_0.xsd"
	version="4.0">

	<display-name>SEclipseUserStorageServiceWeb</display-name>
	<session-config>
		<session-timeout>5</session-timeout>
	</session-config>
	<welcome-file-list>
		<welcome-file>/index.jsf</welcome-file>
	</welcome-file-list>
	<context-param>
		<param-name>primefaces.THEME</param-name>
		<param-value>afternoon</param-value>
	</context-param>

	<context-param>
		<param-name>com.sun.faces.enableRestoreView11Compatibility</param-name>
		<param-value>true</param-value>
	</context-param>

	<context-param>
		<param-name>javax.faces.STATE_SAVING_METHOD</param-name>
		<param-value>server</param-value>
	</context-param>

	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>2</load-on-startup>
		<multipart-config>
			<location>/tmp</location>
			<max-file-size>20848820</max-file-size>
			<max-request-size>418018841</max-request-size>
			<file-size-threshold>102400000</file-size-threshold>
		</multipart-config>
	</servlet>

	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.jsf</url-pattern>
	</servlet-mapping>

	<context-param>
		<param-name>log4jFileName</param-name>
		<param-value>
			log4j-config.xml
		</param-value>
	</context-param>

	<mime-mapping>
		<extension>pdf</extension>
		<mime-type>application/pdf</mime-type>
	</mime-mapping>


	<mime-mapping>
		<extension>xcss</extension>
		<mime-type>text/xcss</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>ico</extension>
		<mime-type>image/x-icon</mime-type>
	</mime-mapping>

	<error-page>
		<exception-type>javax.faces.application.ViewExpiredException</exception-type>
		<location>https://www.google.com</location>
	</error-page>
</web-app>
